   body {
       background-image: url('img/pogoda.jpg');
       background-size: cover;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-shadow: white 1px 1px 0, white -1px -1px 0;
       align-items: center;
       transition: all 1s;
       background-attachment: fixed;
       font-size: 25px;
   }
   
   .loding {
       margin: 200px;
       width: 300px;
   }
   
   .interface {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }
   
   .wrapper {
       opacity: 0;
   }
   
   .interface__element {
       display: flex;
       justify-content: center;
       align-items: center;
       box-sizing: border-box;
       width: 45%;
       height: 100px;
       padding: 10px;
       margin: 10px;
       border-radius: 10px;
       background-color: rgba(100, 120, 201, 0.5);
       order: 6;
   }
   
   .button {
       height: 50px;
       width: 50px;
       background-size: cover;
       border-radius: 50%;
       border-style: solid;
       cursor: pointer;
   }
   
   .search-icon {
       background-image: url('img/serch.png');
   }
   
   .mic-icon {
       background-image: url('img/mic.png');
       position: relative;
       right: 105px;
   }
   
   .mic-icon.active {
       animation-duration: 3s;
       animation-name: slidein;
   }
   
   #map {
       width: 100%;
       height: 80%;
       border-radius: 100px;
   }
   
   .mapLocation {
       display: block;
       order: 4;
       height: 600px;
   }
   
   .search {
       position: relative;
       order: 2;
   }
   
   .search-input {
       width: 60%;
       height: 50px;
       border-radius: 50px;
       font-size: 30px;
       padding-left: 10px;
   }
   
   .buttonPonel {
       order: 1;
   }
   
   .ponel__element {
       height: 50px;
       width: 50px;
       margin: 5px;
       cursor: pointer;
   }
   
   .updateimg-icon {
       background-image: url("img/update-button.svg");
       background-size: cover;
       border-radius: 5px;
       transition: all 0.2s;
   }
   
   .select {
       font-size: 30px;
       border-radius: 5px;
       width: 60px;
   }
   
   .button_temperature {
       font-size: 30px;
       background-color: rebeccapurple;
       border-style: solid;
       transition: all 1s;
       opacity: 0.5;
   }
   
   .button_temperature:hover {
       border-width: 5px;
       border-color: white;
   }
   
   .button_temperature.active {
       background-color: red;
       border-radius: 50%;
       opacity: 1;
   }
   
   .locationData {
       display: flex;
       flex-direction: column;
       height: auto;
       order: 3;
       justify-content: start;
       background-color: transparent;
       padding: 0;
   }
   
   .locationData__element {
       margin: 10px;
       height: auto;
       width: 100%;
       background-color: rgba(100, 120, 201, 0.5);
       border-radius: 5px;
   }
   
   .location__element {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
   }
   
   .location__element>p {
       padding-right: 10px;
       font-size: inherit;
       margin: 0;
   }
   
   .location__title {
       font-size: 40px;
       font-weight: 600;
   }
   
   .location__when {
       font-size: 30px;
   }
   
   .temperature_big {
       font-size: 150px;
       margin: 0;
       word-wrap: break-word;
       font-weight: 900;
       letter-spacing: -15px;
       text-align: center;
   }
   
   .weather {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }
   
   .weather_description {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }
   
   .iconweather-big {
       width: 150px;
       height: 150px;
   }
   
   .forecast {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }
   
   .forecast__day {
       font-size: 25px;
       font-weight: 600;
       margin: 0px;
   }
   
   .forecast__element {
       padding: 10px;
   }
   
   .forecast_weather {
       display: flex;
   }
   
   .forecast__t {
       font-size: 40px;
       font-weight: 800;
       margin: 0px;
   }
   
   .weather-text {
       word-wrap: break-word;
       font-size: 20px;
       width: 150px;
   }
   
   @media (max-width: 1080px) {
       .interface {
           display: block;
       }
       .interface__element {
           width: 95%;
       }
   }
   
   @keyframes button {
       10% {
           border-width: 10px;
           border-color: red;
       }
       50% {
           border-radius: 0px;
       }
       75% {
           border-color: green;
       }
   }